.container{
  display:flex;
}

.container div{
flex:1 ;
width: 100px;
}

#banner{
  align-items: center;  
  font-family: 'Franklin Gothic Medium';
  background-image: url("https://schonmagazine.com/wp-content/uploads/2025/08/baku-2024-2025-_2555168725-scaled.jpeg");
  padding: 200px; width:1000px;
  color:aliceblue;
  flex:5;
}


#banner h1{
  background-color: cadetblue;
  opacity: 0.9;
  padding:100px;
  align-items: center;  
  font-size: 100px;
  border-style: solid;    
  color:aliceblue;
  flex:1;
}


#links a{
    flex-direction:column;
    flex:1;
  
    font-size: 30px;
    align-items: right;
    width:200px;
}
nav{
  flex:1;
  background-color: bisque;
  flex-direction:column;
  font-size: 50px;
}



#about{
  flex: 4;
  align-items: left;
  justify-content: center;
  font-size: 25px;
  background-color:cadetblue;
}

#about p{
  
}

body{
  font-family:'sans-serif';
}

#content{
  flex-direction: row;
  flex:1;
}


#footer{
    background-color:cadetblue;
    border-style: solid;
  flex:1
}