.container{
  display:flex;
}


.banner{
  align-items: center;  
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  background-image: url("images/azerflag.png");
  background-size: cover;      
  background-position:top;
  background-repeat: no-repeat;
  padding: 200px;
  border: solid;
  flex:4;
}


.banner h1{
  background-color: rgba(89, 153, 155, 0.3);
  padding: 40px;
  font-size: 28px;
  margin-top: -170px;
  text-align: center;
  max-width: 600px;
}

#text{
  color: aliceblue;
  font-size: 70px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 2px #000;
}

#landmarks{
background-image: url("images/bakunight.jpg");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}

#food{
  background-image: url("images/shutterstock_1146169040.avif");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}

#culture{
   background-image: url("images/culturebanner.jpg");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}


#text:hover{
letter-spacing: 15px;  
font-size:90px;
  transition: 0.2s;
}

nav{
  flex: 1;
  background-color: rgb(233, 192, 142);
  font-size: 30px;
  border: solid;
}

#links{
  display: flex;
  flex-direction: column;
}

#links a{
  font-size: 30px;
  width: 200px;
  padding: 10px;
  gap: 35px;
}

#links a:hover{
  background-color: rgb(227, 145, 45);
  font-size: 35px;
  transition: 0.2s;
}


.card{
  flex:1;
  margin:30px;
  padding:10px;
  background-color: rgb(57, 157, 161);
  border:solid;
  border-radius: 5px;
}

.card img{
  height:200px;
  width:280px;
}

.card img:hover{
opacity: 0.4;
transition:0.2s;
}

.desc{
  flex:1;
  align-items: center;
  justify-content: center;
}

.text{
  font-size: 32px;
}

h1{
  color:aliceblue;
}

#gallery{
  letter-spacing: 10px;
  text-align: center;
}


body{
  font-family:'sans-serif';

}


#baku{
  background-image: linear-gradient(to top, rgb(34, 50, 80), rgb(117, 115, 221));
}




#content{
  flex:1;
}

#two #three{
  flex:1;
  align-items: center;
  justify-content: center;
}

.header{
  display:flex;
  flex:1;
  transform: (-50,50);
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color:rgb(57, 157, 161);
}

#footer{
    background-color:rgb(57, 157, 161);
    border-style: solid;
    align-items: center;
    justify-content: center;
  flex:1
}