.container{
  display:flex;
}


.banner{
  align-items: center;  
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  background-image: url("https://schonmagazine.com/wp-content/uploads/2025/08/baku-2024-2025-_2555168725-scaled.jpeg");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px;
  flex:4;
}


.banner h1{
  background-color: rgba(95,158,160,0.9);
  padding: 45px;
  font-size: 40px;
  margin-top: -40px;
  text-align: center;
}

#text{
  color: aliceblue;
  text-shadow: 2px 2px 4px #000;
}

nav{
  flex: 1;
  background-color: bisque;
  font-size: 30px;
  border: solid;
}

#links{
  display: flex;
  flex-direction: column;
}

#links a{
  font-size: 30px;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}


.header{
  flex: 1;
  align-items: left;
  justify-content: center;
  font-size: 25px;
  background-color:cadetblue;
}

.card{
  flex:1;
  margin:40px;
  padding:10px;
  border:solid black 2px;
  border-radius: 5px;
}

.card img{
  height:200px;
  width:280px;
}

#one{
  flex:1;
  margin:40px;
  padding:10px;
}
body{
  font-family:'sans-serif';
  background-color: rgb(255, 255, 255);
}

#content{
  flex:1;
}

#two #three{
  margin:50px;
}

.header{
  display:flex;
  flex:1;
  align-items: left;
  justify-content: center;
  font-size: 25px;
  background-color:cadetblue;
}

#footer{
    background-color:cadetblue;
    border-style: solid;
  flex:1
}