h1{
    text-align: center;
}
#links{
    flex-direction:column;
}


body{
  font-family: Arial;
}


a{
  text-decoration:none;
}


nav a:hover{
  border-bottom: 2px solid black;
}



.banner{
background-color: rgb(0, 0, 0);
color:white;
}


.main{
  font-size: 25px;
  color:rgb(0, 0, 0);
}