.container{
  display:flex;
}


#banner{
  align-items: center;  
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  background-image: url("https://schonmagazine.com/wp-content/uploads/2025/08/baku-2024-2025-_2555168725-scaled.jpeg");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px;
  color:aliceblue;
  flex:1;
}


#banner h1{
  background-color: cadetblue;
  opacity: 0.9;
  padding: 100px;
  font-size: 100px;
  border: solid;
  color: aliceblue;
}

nav{
  flex: 1;
  background-color: bisque;
  font-size: 30px;
  border: solid;
}

#links{
  display: flex;
  flex-direction: column;
}

#links a{
  font-size: 30px;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}


.header{
  flex: 1;
  align-items: left;
  justify-content: center;
  font-size: 25px;
  background-color:cadetblue;
}

#about p{
  
}

body{
  font-family:'sans-serif';
  background-color: rgb(255, 255, 255);
}

#content{
  flex:1;
}


.header{
  display:flex;
  flex:1;
  align-items: left;
  justify-content: center;
  font-size: 25px;
  background-color:cadetblue;
}

#footer{
    background-color:cadetblue;
    border-style: solid;
  flex:1
}