.container{
  display:flex;
}


#banner{
  text-align: center;
  flex:1;
}


#links{
    flex-direction:column;
    flex:1;
}


body{
  font-family: Arial;
}





.banner{
background-color: rgb(0, 0, 0);
color:white;
}