.container{
  display:flex;
}


.banner{
  align-items: center;  
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  background-image: url("images/azerflag.png");
  background-size: cover;      
  background-position:top;
  background-repeat: no-repeat;
  padding: 200px;
  border: solid;
  flex:4;
}


.banner h1{
  flex:1;
  background-color: rgba(89, 153, 155, 0.3);
  padding: 40px;
  font-size: 28px;
  margin-top: -170px;
  text-align: center;
  max-width: 600px;
}

#text{
  color: aliceblue;
  font-size: 70px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 2px #000;
}

#landmarks{
background-image: url("images/bakunight.jpg");
flex:1;
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}

#food{
  background-image: url("images/shutterstock_1146169040.avif");
  flex:1;
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}

#culture{
   background-image: url("images/culturebanner.jpg");
   flex:1;
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}


#text:hover{
letter-spacing: 15px;  
font-size:90px;
  transition: 0.2s;
}

nav{
  flex: 1;
  background-color: rgb(233, 192, 142);
  font-size: 30px;
  border: solid;
}

#links{
  display: flex;
  flex-direction: column;
}

#links a{
  flex:1;
  font-size: 30px;
  width: 200px;
  padding: 10px;
  gap: 35px;
}

#links a:hover{
  background-color: rgb(227, 145, 45);
  font-size: 35px;
  transition: 0.2s;
}


.card{
  flex:1;
  margin:30px;
  padding:10px;
   text-align: center;
  background-color: rgb(57, 157, 161);
  border-radius: 5px;
}

.card img{
  flex:1;
  height:200px;
  width:280px;
  border-radius: 15px;
  border: solid 2px;
  transition:0.2s;
}

.card img:hover{
filter:contrast(150%);
filter: drop-shadow(8px 8px rgba(65, 62, 62, 0.4));
transition:0.2s;
}

.desc{
  flex:1;
  align-items: center;
  justify-content: center;
}

.pa {
 
  color: rgb(156, 76, 19);
  font-size: 20px;
  font-style: bold;
}





.text{
  font-size: 27px;
}

h1{
  color:aliceblue;
}

#gallery{
  flex:1;
  flex-direction: column;
  letter-spacing: 10px;
  text-align: center;
}


body{
  flex:1;
  font-family:'sans-serif';
}


#baku{
  flex:1;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgb(34, 50, 80),  rgb(75, 166, 140));
}

#baku h1 {
  flex:1;
  text-align: center;
  margin-bottom: 20px;
}

#sheki{
  flex:1;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgb(75, 166, 140), rgb(125, 169, 231));
}


#sheki h1 {
  flex:1;
  text-align: center;
  margin-bottom: 20px;
}

#banga{
  flex:1;
  flex-direction: column;
  background-image: linear-gradient(to top, rgb(58, 130, 171), rgb(125, 169, 231));
}

#banga h1 {
  flex:1;
  text-align: center;
  margin-bottom: 20px;
}

.foodtext{
  flex:1;
  color:chocolate;
}

#content{
  flex:1;
}

#color{
  background-color: rgba(245, 199, 143, 0.4);
}

#two #three{
  flex:1;
  align-items: center;
  justify-content: center;
}

#dolma, #kebab, #plov{
  flex:1;
  background-color:rgb(233, 192, 142);
}

.header{
  display:flex;
  flex:1;
  transform: (-50,50);
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color:rgb(57, 157, 161);
}

#footer{
    background-color:rgb(57, 157, 161);
    align-items: center;
    justify-content: center;
  flex:1
}