.container{
  display:flex;
}


.banner{
  align-items: center;  
  justify-content: center;
  border:solid black 2px;
  font-family: 'Franklin Gothic Medium';
  background-image: url("https://schonmagazine.com/wp-content/uploads/2025/08/baku-2024-2025-_2555168725-scaled.jpeg");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px;
  flex:4;
}


.banner h1{
  background-color: rgba(89, 153, 155, 0.3);
  padding: 40px;
  font-size: 28px;
  margin-top: -170px;
  text-align: center;
  max-width: 600px;
}

#text{
  color: aliceblue;
  font-size: 70px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 2px #000;
}

#landmarks{
background-image: url("images/landmark_banner.png");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}

#food{
  background-image: url("images/shutterstock_1146169040.avif");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}

#culture{
   background-image: url("images/shutterstock_1146169040.avif");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}


#text:hover{
letter-spacing: 15px;  
font-size:90px;
  transition: 0.2s;
}

nav{
  flex: 1;
  background-color: rgb(233, 192, 142);
  font-size: 30px;
  border: solid;
}

#links{
  display: flex;
  flex-direction: column;
}

#links a{
  font-size: 30px;
  width: 200px;
  padding: 10px;
  gap: 35px;
}

#links a:hover{
  background-color: rgb(227, 145, 45);
  font-size: 35px;
  border-radius: 15px;
  transition: 0.2s;
}

.header{
  flex: 1;
  align-items: left;
  justify-content: center;
  font-size: 25px;
  background-color:rgb(60, 120, 122);
}

.card{
  flex:1;
  margin:70px;
  padding:10px;
  border:solid black 2px;
  border-radius: 5px;
}

.card img{
  height:200px;
  width:280px;
}

.desc{
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#e{
  margin:2px;
  padding:3px;
}

h1{
  color:aliceblue;
}

#one{
  flex:1;
  margin:40px;
  padding:10px;
}
body{
  font-family:'sans-serif';
  background-color: rgb(83, 174, 148);
  background-image: linear-gradient(to top, rgb(38, 165, 144), rgb(221, 193, 115));
}

#content{
  flex:1;
}

#two #three{
  margin:50px;
}

.header{
  display:flex;
  flex:1;
  transform: (-50,50);
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color:cadetblue;
}

#footer{
    background-color:cadetblue;
    border-style: solid;
    align-items: center;
    justify-content: center;
  flex:1
}