.container{
  display:flex;
}


#banner h1{
  text-align: center;
  font-size: 70pt;
  font-family: 'Franklin Gothic Medium';
  background-image: url("https://schonmagazine.com/wp-content/uploads/2025/08/baku-2024-2025-_2555168725-scaled.jpeg");
  padding: 70pt;
  flex:1;
}


#links{
    flex-direction:column;
    flex:1;
    font-size: 40pt;
    background-color: bisque;
    height:200pt;
}
nav a{
  flex:1;
}


#about{
  flex: 4;
  align-items: left;
  justify-content: center;
  font-size: 40pt;
      background-color:cadetblue;
}

body{
  font-family: Arial;
}

#one{
flex:1;
}
#two{
  flex:2;
}

#one, #two, #three{
  align-items: center;
  justify-content: center;
}

#footer{
  flex:1

}