.container{
  display:flex;
}

.container div{
flex:1 ;
}

#banner{
  align-items: center;  
  font-family: 'Franklin Gothic Medium';
  background-image: url("https://schonmagazine.com/wp-content/uploads/2025/08/baku-2024-2025-_2555168725-scaled.jpeg");
  padding: 200px; width:260px;
  color:aliceblue;
  flex:1;
}

#banner h1{
  background-color: cadetblue;
    opacity: 0.9;
  padding:100px;
  align-items: center;  
  font-size: 100px;
  flex:1;
}

#links{
    flex-direction:column;
    flex:1;
    font-size: 20px;
    background-color: bisque;
    width:20px;
}
nav a{
  flex:1;
}


#about{
  flex: 4;
  align-items: left;
  justify-content: center;
  font-size: 20px;
      background-color:cadetblue;
}

body{
  font-family:'sans-serif';
}

#one, #three{
  align-items: center;
flex:1;
}
#two{
  align-items: center;
  flex:2;
}


#footer{
    background-color:cadetblue;
  flex:1
}